<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Raspored Termina kod doktora</h2>
    <p class="category" style="display: inline-block;">
      <input type="text" placeholder="Lokacija" list="lokacija">
      <datalist id="lokacija">
        <option value="Ambulanta otoka">
        <option value="Dom zdravlja Sarajevo">
        <option value="Dom zdravlja Doboj">
        <option value="Ambulanta Briješće">
        <option value="UKCS">
      </datalist> 
    </p>
    <p class="category" style="display: inline-block;margin-left: 10px;">
      <input type="text" placeholder="Doktor/ica" list="doktori">
      <datalist id="doktori">
        <option value="Dr. Asija Djimidjic">
        <option value="Dr. Elvir Cajnovic">
        <option value="Dr. Hasiba Radoncic">
        <option value="Dr. Suljo Suljic">
        <option value="Dr. Mujo Mujic">
      </datalist> 
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card card-calendar">
        <div class="card-body">
          <div id='calendar'></div>
          <!-- <div id='destination-calendar'></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
