<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h4 class="card-title">Popunjenost po ambulantama</h4></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>Naziv ambulante</th>
                  <th>Opcina</th>
                  <th>Broj osoblja</th>
                  <th class="text-right">Broj pacijenata</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ambulanta Rajlovac</td>
                  <td>Novi Grad</td>
                  <td>5</td>
                  <td class="text-right">34</td>
                </tr>
                <tr>
                  <td>Ambulanta Svrakino Selo</td>
                  <td>Novi Grad</td>
                  <td>13</td>
                  <td class="text-right">79</td>
                </tr>
                <tr>
                  <td>Područna ambulanta Trg Heroja</td>
                  <td>Novo Sarajevo</td>
                  <td>14</td>
                  <td class="text-right">65</td>
                </tr>
                <tr>
                  <td>Ambulanta Grbavica I</td>
                  <td>Novo Sarajevo</td>
                  <td>9</td>
                  <td class="text-right">32</td>
                </tr>
                <tr>
                  <td>Dom Zdravlja Ilidza</td>
                  <td>Ilidza</td>
                  <td>38</td>
                  <td class="text-right">112</td>
                </tr>
                <tr>
                  <td>Dom Zdravlja Otoka</td>
                  <td>Novi Grad</td>
                  <td>68</td>
                  <td class="text-right">423</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title">Covid drive-in punktovi</h4>
          <p class="category">*Potrebno ponijeti zdravstvenu knjizicu</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>Opcina</th>
                  <th>Radno Vrijeme</th>
                  <th>Lokacija</th>
                  <th class="text-right">Telefon</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>SARAJ-POLJE</td>
                  <td>07:30 do 20:00</td>
                  <td>X TRANSVERZALE BB</td>
                  <td class="text-right">033 277 609</td>
                </tr>
                <tr>
                  <td>ILIDŽA</td>
                  <td>08:00 do 19:30</td>
                  <td>MUSTAFE PINTOLA 1</td>
                  <td class="text-right">033 773 640</td>
                </tr>
                <tr>
                  <td>VRAZOVA</td>
                  <td>11:00 do 13:30</td>
                  <td>VRAZOVA 11</td>
                  <td class="text-right">033 292 662</td>
                </tr>
                <tr>
                  <td>SEMIZOVAC – VOGOŠĆA</td>
                  <td>07:30 do 20:00</td>
                  <td>NOVA CESTA 21</td>
                  <td class="text-right">033 433 996</td>
                </tr>
                <tr>
                  <td>NOVO SARAJEVO </td>
                  <td>07:30 do 20:00</td>
                  <td>BIHAĆKA 2</td>
                  <td class="text-right">033/724 795</td>
                </tr>
                <tr>
                  <td>STARI GRAD </td>
                  <td>007:30 do 20:00</td>
                  <td>ALAJBEGOVIĆA 1</td>
                  <td class="text-right">060/328 04 54</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
