<div class="panel-header panel-header-lg">
  <canvas
    baseChart
    id="bigDashboardChart"
    [datasets]="lineBigDashboardChartData"
    [labels]="lineBigDashboardChartLabels"
    [colors]="lineBigDashboardChartColors"
    [options]="lineBigDashboardChartOptions"
    [chartType]="lineBigDashboardChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  ></canvas>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="now-ui-icons ui-2_chat-round"></i>
                  </div>
                  <h3 class="info-title">267</h3>
                  <h6 class="stats-title">testiranih</h6>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="now-ui-icons users_single-02"></i>
                  </div>
                  <h3 class="info-title"><small></small>260</h3>
                  <h6 class="stats-title">Broj aktivnog osobolja</h6>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="now-ui-icons users_single-02"></i>
                  </div>
                  <h3 class="info-title">2563</h3>
                  <h6 class="stats-title">Ukupno hospitalizovanih</h6>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="now-ui-icons objects_support-17"></i>
                  </div>
                  <h3 class="info-title">333</h3>
                  <h6 class="stats-title">Hitni slučajevi</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Broj zaraženih po ambulantama (Prosjek)</h5>
          <h2 class="card-title">67</h2>
          <div class="" ngbDropdown>
            <button
              type="button"
              class="btn btn-round btn-default btn-simple btn-icon no-caret"
              data-toggle="dropdown"
              ngbDropdownToggle
            >
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div class=" dropdown-menu-right" ngbDropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas
              baseChart
              id="lineChartExample"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [colors]="lineChartColors"
              [options]="lineChartOptions"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/hospital.png" /></div>
                  </td>
                  <td>Dom Zdravlja Otoka</td>
                  <td class="text-right">Zarazeno:</td>
                  <td class="text-right">100</td>
                </tr>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/hospital.png" /></div>
                  </td>
                  <td>Ambulanta Sokolje</td>
                  <td class="text-right">Zarazeno:</td>
                  <td class="text-right">40</td>
                </tr>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/hospital.png" /></div>
                  </td>
                  <td>Ambulanta porodične medicine</td>
                  <td class="text-right">Zarazeno:</td>
                  <td class="text-right">10</td>
                </tr>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/hospital.png" /></div>
                  </td>
                  <td>Ambulanta Grbavica I</td>
                  <td class="text-right">Zarazeno:</td>
                  <td class="text-right">30</td>
                </tr>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/hospital.png" /></div>
                  </td>
                  <td>Područna ambulanta Osjek</td>
                  <td class="text-right">Zarazeno:</td>
                  <td class="text-right">0</td>
                </tr>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/hospital.png" /></div>
                  </td>
                  <td>Ambulanta Kovačići</td>
                  <td class="text-right">Zarazeno:</td>
                  <td class="text-right">120</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Upravo ucitano
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Broj zarazenih BIH</h5>
          <h2 class="card-title">29,079</h2>
          <div class="" ngbDropdown>
            <button
              type="button"
              class="btn btn-round btn-default btn-simple btn-icon no-caret"
              data-toggle="dropdown"
              ngbDropdownToggle
            >
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div class="dropdown-menu-right" ngbDropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas
              baseChart
              id="lineChartExampleWithNumbersAndGrid"
              [datasets]="lineChartWithNumbersAndGridData"
              [labels]="lineChartWithNumbersAndGridLabels"
              [colors]="lineChartWithNumbersAndGridColors"
              [options]="lineChartWithNumbersAndGridOptions"
              [chartType]="lineChartWithNumbersAndGridType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
          <div class="card-progress">
            <div class="progress-container">
              <span class="progress-badge">Broj slučajeva</span>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 90%;"
                >
                  <span class="progress-value">163,871</span>
                </div>
              </div>
            </div>
            <div class="progress-container progress-success">
              <span class="progress-badge">Broj aktivnih</span>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-warning"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 60%;"
                >
                  <span class="progress-value">29,079</span>
                </div>
              </div>
            </div>
            <div class="progress-container progress-info">
              <span class="progress-badge">Oporavljeni</span>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-warning"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 12%;"
                >
                  <span class="progress-value">127,686</span>
                </div>
              </div>
            </div>
            <div class="progress-container progress-danger">
              <span class="progress-badge">Umrli</span>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-warning"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 0.11%;"
                >
                  <span class="progress-value">6,207</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Upravo ucitano
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Vakcinisanih</h5>
          <h2 class="card-title">120</h2>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas
              baseChart
              id="activeCountries"
              [datasets]="lineChartGradientsNumbersData"
              [labels]="lineChartGradientsNumbersLabels"
              [colors]="lineChartGradientsNumbersColors"
              [options]="lineChartGradientsNumbersOptions"
              [chartType]="lineChartGradientsNumbersType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
          <h4 class="card-title text-center"><input type="text" placeholder="Sarajevo" list="zaraza" style="border: none;"><datalist id="zaraza">
            <option value="Sarajevo">
            <option value="Zenica">
            <option value="Mostar">
            <option value="Banja Luka">
            <option value="Tuzla">
          </datalist> </h4>
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper img-raised">
                      <img src="../assets/img/emilyz.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left">
                    ID: #33213123 (Pozitivno)
                  </td>
                  <td class="td-actions text-right">
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Edit Task"
                    >
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Remove"
                    >
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper img-raised">
                      <img src="../assets/img/james.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left">
                    ID: #34444423 (Pozitivno)
                  </td>
                  <td class="td-actions text-right">
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Edit Task"
                    >
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Remove"
                    >
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper img-raised">
                      <img src="../assets/img/mike.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left">
                    ID: #3656523 (Negativno)
                  </td>
                  <td class="td-actions text-right">
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Edit Task"
                    >
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Remove"
                    >
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
        <input type="text" placeholder="Provjerite vaš ID" style="margin-left: 70px;padding: 5px 30px 5px 80px;border: none; border-bottom: solid 1.5px #007bff;">
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Zadnjih podaci
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
