<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="header text-center"><h3 class="title">Timeline</h3></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-timeline card-plain">
        <div class="card-body">
          <ul class="timeline">
            <li class="timeline-inverted">
              <div class="timeline-badge danger">
                <i class="now-ui-icons objects_planet"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-danger">Dr. Ismet</span>
                </div>
                <div class="timeline-body">
                  <p>
                    Iz dana u dan situacija se pogoršava, molimo vas ostanite strpljivi, apelujem da se salbije krecete po javnim ustanovama!
                  </p>
                </div>
                
              </div>
            </li>
            <li>
              <div class="timeline-badge success">
                <i class="now-ui-icons shopping_tag-content"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-success">Dr. Danijela</span>
                </div>
                <div class="timeline-body">
                  <p>
                    Sa aspekta medicicnske sestre čuvajte svoje starije članove porodice, također u hitnu pomoć dolaze i mlađe osobe sa jakim upalama pluća!
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge info">
                <i class="now-ui-icons shopping_delivery-fast"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-info">Trener Kenan</span>
                </div>
                <div class="timeline-body">
                  <p>
                    Problem aneksioznosti je veliki, gojaznost još veći, preporuka vježbi koje bi trebali da radite u kući jesu:"čučnjevi", za malo jače možete sklekove, također dobro bi bilo da radite istezanje i vježbe leđnih mišića.
                  </p>
                  
                  <hr />
                </div>
                <div class="timeline-footer">
                  <div class="dropdown" ngbDropdown>
                    <button
                      type="button"
                      class="btn btn-round btn-info dropdown-toggle"
                      data-toggle="dropdown"
                      ngbDropdownToggle
                    >
                      <i class="now-ui-icons design_bullet-list-67"></i>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      
                      <a class="dropdown-item" href="#">Kontaktirajte Kenana</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge warning">
                <i class="now-ui-icons ui-1_email-85"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-warning">Dr. Tatjana </span>
                </div>
                <div class="timeline-body">
                  <p>
                    Provodite vrijeme čitajuči knjige, u zadnje vrijeme imamo jako dosta primljenih pacijenata sa povećanom dijoptrijom, koristite "bijelusvjetlost" na ekranu!
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
